<section class="phx-hero">
  <table>
    <tr>
      <th>CPU Temperature [C]</th>
      <td><%= @board_metrics.cpu_temp %></td>
    </tr>
    <tr>
      <th>Load Average</th>
      <td><%= @board_metrics.load_average %></td>
    </tr>
  </table>
</section>
